@import "../_settings.scss";


// ---------------------------------
// |            Padding            |
// ---------------------------------

.padding-0 {
	padding: 0;
}

.padding-X {
	padding: 0 rem-calc(15);
}

.padding-Y {
	padding: rem-calc(15) 0;
}

.padding-XY {
	padding: rem-calc(15);
}


// ---------------------------------------------------------------------- //


// ---------------------------------
// |            Margins            |
// ----------------------------r-----

.margin-0 {
	margin: 0;
}

.margin-X {
	margin: 0 rem-calc(15);
}

.margin-Y {
	margin: rem-calc(15) 0;
}

.margin-XY {
	margin: rem-calc(15);
}


// ---------------------------------------------------------------------- //


// ---------------------------------
// |            Borders            |
// ---------------------------------


.borderW4-555 {
	border: 4px solid #555;
}

// These come last so they override // ---------------------------------------------------------------------- //

.borderTop-0 {
	border-top: 0;
}

.borderRight-0 {
	border-right: 0;
}

.borderBottom-0 {
	border-bottom: 0;
}

.borderLeft-0 {
	border-left: 0;
}
