@import "../_settings.scss";
@import "typography/_fonts.scss";


h1,
h2 {
	letter-spacing: (-0.5);
}

h5,
h6 {
	letter-spacing: rem(1);
	text-transform: uppercase;
}

h1.heading,
h2.heading {
	letter-spacing: rem(1.5);
}

h3.heading,
h4.heading {
	letter-spacing: rem(1);
}

.heading {
	font-family: $heading-font-family;
	font-weight: 400;
}

.heading.bold {
	font-weight: 700;
}

.contrast {
	* {
		color: #fff;
		text-shadow: 0 rem(2) rem(4) #000;
	}
}
