@import "../_settings.scss";

.videoContainer {
	background: rgba(68,68,68,0.80);
	border-bottom: rem-calc(8) solid #F6C949;
	margin-bottom: rem-calc(70);

	.row {
		background: url('#{$url}/img/first-dance/video/swirl_2x.png') 20px 0/200px auto no-repeat;
		padding: rem-calc(50) 0;
	}
}

.videoContainer--iframeWrapper {
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	border: rem-calc(5) solid #fff;
	box-shadow: $z-3;

	iframe {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}